<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/style.css" type="text/css">
 
</head>

<body>
    <h1>BREAD(Browse, Read, Edit, Add, Delete)</h1>
    <h2>Filters
        <form action="/search" method="post" class="form">
        <div class="card-body">
            <div>
                <label for="id">ID</label>
                <div>
                    <input type="text" id="id" name="id">
                </div>
            </div>

            <div>
                <label for="string">String</label>
                <div>
                    <input type="text" id="string" name="string">
                </div>
            </div>
            
            <div>
                <label for="integer">Integer</label>
                <div>
                    <input type="text" id="integer" name="integer">
                </div>
            </div>
            
            <div>
                <label for="float">Float</label>
                <div><input type="text" id="float" name="float"></div>
            </div>
            
            <div>
                <label for="date">Date</label>
                <div>
                    <input type="text" id="date" name="date">
                </div>
            </div>
            
            <div>
                <label for="boolean">Boolean</label>
                <div>
                    <input type="text" id="boolean" name="boolean">
                </div>
            </div>
            <button type="submit">Search</button>
        </div>
    </h2>
    </form>
    <h3>To Do</h3>
    <div  class="content-table">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>String</th>
                <th>Integer</th>
                <th>Float</th>
                <th>Date</th>
                <th>Boolean</th>
                <th>Activities</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach((item, index)=> { %>
                <tr>
                    <td>
                        <%= index + 1 %>
                    </td>
                    <td>
                        <%= item.string %>
                    </td>
                    <td>
                        <%= item.integer %>
                    </td>
                    <td>
                        <%= item.float %>
                    </td>
                    <td>
                        <%= item.date ? item.date : 'kosong' %>
                    </td>
                    <td>
                        <%= item.boolean %>
                    </td>
                    <td>
                        <a href="/edit/<%= index%>" class="btn" style="background-color: #04aa6d;">Edit</a>
                        <a href="/delete/<%= index%>" class="btn" style="background-color: #f44336;">Delete</a>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
    </div>
    <h3>
    <a href="/add" class="btn" style="background-color: #0000FF;">Add</a>
</h3>
</body>

</html>